@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
    font-family: Merriweather;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #ffffff;
    padding: 10px 0;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-item {
    margin: 0 10px;
}

.navbar-link {
    text-decoration: none;
    color: #4b4b4b;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #b1b1b1;
}

.content {
    margin-top: 20px;
}

/* --------------------------------- */
.page-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.data-container {
    margin-top: 20px;
}

.data-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.data-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.data-list-item {
    margin-bottom: 5px;
}
/* Style for links in the data-list-item */
.data-list-item a {
    color: #505050;
    text-decoration: none;
    transition: color 0.3s;
}

/* Hover effect for links in the data-list-item */
.data-list-item a:hover {
    color: #2980b9;
}
